



.page-footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #195190;
    bottom: 0;
    left: 0;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info p{
    margin: 3px;
    color: white;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;}
