
.progress-bar{
    height: 15px;
    width: 300px;
    border: 2px solid white;
}

.progress-bar span{
    background-color: #AB2E33;
    width: 0%;
    height: 100%;
    display: block;
    transition: width 0.5s ease-in-out;
}

.progress-label{
    margin: 5px;
    color: #fff;
}

.progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear;
}

.progress.hide{
    opacity: 0;
    transition: opacity 1s linear;
}

