.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    flex-basis: 80%;
    border: 1px solid #fff;
    min-height: 33vh;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    animation: 0.8s ease-out 0s 1 fadein;
}

.panel-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.panel-chart .chart-area {
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
    animation: 0.8s ease-out 0s 1 fadein;
    width: 100%;
    max-height: 280px;
}



.chart-panel {

    width: fit-content;
    block-size: fit-content;

}

.controllers {
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.controllers h4 {
    font-weight: bold;
    display: inline;
}


.rate {
    font-weight: 600;
}

.rate.positive {
    color: #1ED250
}

.rate .arrow svg {
    margin-top: 5px;
    padding-right: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}

.rate.negative .arrow svg {
    transform: scaleY(-1);
}

.rate.negative {
    color: #AB2E33
}

.controllers div {
    margin: 10px;
    width: 150px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.50);

    box-shadow: 0 2px 4px -4px black;
    transition: transform .2s ease-in-out;
}

.controllers div:hover {
    outline: 1px solid #fff;
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.50);


}

.controllers .select {
    outline: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.60);

}

.controllers .select:hover {
    outline: 2px solid #fff;
    cursor: auto;

}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop-swirl {
    from {
        -webkit-transform: scale(0.5);
    }

    to {
        -webkit-transform: scale(1);
    }
}