


.logo{
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 50px;
    color: white;
    font-family: 'AGRevueCyr-Roman', sans-serif;
    margin-bottom: 5px;
}
.logo .back{
    color: #AB2E33;
}

.main-header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 15vh;
    background-color: #195190;
}