.contents{
    display: flex;
    justify-content: space-between;

    
}
.content{
    
    height: 150px;
    width: 110px;
    position: relative;
    
}


.c-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
.c-container:hover{
    cursor: pointer;
}

.visible{
    opacity: 1;
}

.c-container .text{
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: padding-top .3s linear, width 0.3s linear
    
}
.c-container .text.title{
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;;
    padding-bottom: 45%;
}

.c-container:hover .text{
    opacity: 1;
    padding-top: 129px;
    width: 110px;
}
.c-container:hover .title{
    opacity: 1;

}
.c-container .text.year {
    background: #000000C7;
    border-bottom: 1px solid #FFFFFF;
}



